* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  width: 100%;
  height: 100%;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#canvas.circle {
  filter: blur(2px) contrast(2);
}

#audio {
  display: block;
  margin: 50px auto;
  width: 50%;
}

.inputs {
  position: relative;
  display: flex;
  align-items: center;
}

#fileupload {
  color: white;
  z-index: 100;
}

.switcher {
  display: flex;
  align-items: center;
  color: white;
}
